.skillsMain {
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 2rem;
  }
  .Skills{
      color: #4832D3;
      margin-top: 2rem;
  }
  .images{
      width: 200px;
      margin-left: 4rem;
      
  }
  .ImagesDiv{
  margin-left: 16rem;
  
  }
  .SecondMain{
    margin: 0 auto;
  }